<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Vshop.service.module.trade.dao.mapper.DaddressMapper">
	<resultMap id="BaseResultMap" type="com.Vshop.core.entity.base.Daddress">
		<result column="address_id" property="addressId" jdbcType="INTEGER" />
		<result column="store_id" property="storeId" jdbcType="INTEGER" /> 
		<result column="seller_name" property="sellerName" jdbcType="VARCHAR" />
		<result column="area_id" property="areaId" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="province_id" property="provinceId" jdbcType="INTEGER" />
		<result column="area_info" property="areaInfo" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="zip_code" property="zipCode" jdbcType="INTEGER" />
		<result column="tel_phone" property="telPhone" jdbcType="VARCHAR" />
		<result column="mob_phone" property="mobPhone" jdbcType="VARCHAR" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="is_default" property="isDefault" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		address_id, store_id, seller_name, area_id, city_id, province_id, area_info, address,
		zip_code, tel_phone, mob_phone, company, content, is_default
	</sql>
	
	<!-- 保存发货地址 -->
	<insert id="saveDaddress" parameterType="com.Vshop.core.entity.base.Daddress" useGeneratedKeys="true" keyProperty="addressId">
		insert into shop_daddress
		(store_id, seller_name, area_id, city_id, province_id, area_info, address,
			zip_code, tel_phone, mob_phone, company, content, is_default, supplier_id)
		values
		(#{storeId,jdbcType=INTEGER},#{sellerName,jdbcType=VARCHAR},#{areaId,jdbcType=INTEGER},
		 #{cityId,jdbcType=INTEGER},#{provinceId,jdbcType=INTEGER},#{areaInfo,jdbcType=VARCHAR},
		 #{address,jdbcType=VARCHAR},#{zipCode,jdbcType=INTEGER},#{telPhone,jdbcType=VARCHAR},
		 #{mobPhone,jdbcType=VARCHAR},#{company,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},
		 #{isDefault,jdbcType=VARCHAR},#{supplierId,jdbcType=INTEGER} )
	</insert>
	
	<!-- 修改发货地址,条件可传两个值,发货地址id和店铺id -->
	<update id="updateDaddress">
		update shop_daddress
		<set>
			<if test="sellerName != null and sellerName != '' ">
				seller_name = #{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=INTEGER},
			</if>
			<if test="areaInfo != null and areaInfo != '' ">
				area_info = #{areaInfo,jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != '' ">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				zip_code = #{zipCode,jdbcType=INTEGER},
			</if>
			<if test="telPhone != null and telPhone != '' ">
				tel_phone = #{telPhone,jdbcType=VARCHAR},
			</if>
			<if test="mobPhone != null and mobPhone != '' ">
				mob_phone = #{mobPhone,jdbcType=VARCHAR},
			</if>
			<if test="company != null and company != '' ">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="content != null and content != '' ">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null and isDefault != '' ">
				is_default = #{isDefault,jdbcType=VARCHAR}
			</if>
		</set>
		where 1=1
		<if test="addressId!=null">
            and address_id = #{addressId,jdbcType=INTEGER}
        </if>
        <if test="storeId!=null">
            and store_id = #{storeId,jdbcType=INTEGER}
        </if>
	</update>
	
	<!-- 根据id删除发货地址 -->
	<delete id="deleteDaddress" parameterType="int">
		delete from shop_daddress where address_id = #{addressId}
	</delete>
	
	<!-- 根据店铺id查询发货地址列表 -->
	<select id="findDaddressByStoreId" parameterType="int" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List"/> from shop_daddress where store_id = #{storeId,jdbcType=INTEGER}
	</select>
	
	<!-- 根据id查询发货地址 -->
	<select id="findDaddressById" parameterType="int" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List"/> from shop_daddress where address_id = #{addressId,jdbcType=INTEGER}
	</select>
	
	<!-- 根据店铺id查询店铺下的默认发货地址数量s -->
	<select id="findDefaultCountByStoreId" parameterType="int" resultType="int">
		select count(*) from shop_daddress where store_id = #{storeId,jdbcType=INTEGER} and is_default = '1'
	</select>
	
		<!-- 根据店铺id查询发货地址列表 -->
	<select id="findDaddressBySupplierId" parameterType="int" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List"/> from shop_daddress where supplier_id = #{supplierId,jdbcType=INTEGER}
	</select>
	
	<!-- 根据店铺id查询发货默认地址列表 -->
	<select id="findDefaultDaddressById" parameterType="int" resultMap="BaseResultMap" >
		select <include refid="Base_Column_List"/> from shop_daddress where supplier_id = #{supplierId,jdbcType=INTEGER} and is_default = 1
	</select>
	
	
	
		<!-- 根据店铺id查询店铺下的默认发货地址数量s -->
	<select id="findDefaultCountBySupplierId" parameterType="int" resultType="int">
		select count(*) from shop_daddress where supplier_id = #{supplierId,jdbcType=INTEGER} and is_default = '1'
	</select>
	
	
	<!-- 修改发货地址,条件可传两个值,发货地址id和店铺id -->
	<update id="updateDaddressSupplier">
		update shop_daddress
		<set>
			<if test="sellerName != null and sellerName != '' ">
				seller_name = #{sellerName,jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=INTEGER},
			</if>
			<if test="cityId != null">
				city_id = #{cityId,jdbcType=INTEGER},
			</if>
			<if test="provinceId != null">
				province_id = #{provinceId,jdbcType=INTEGER},
			</if>
			<if test="areaInfo != null and areaInfo != '' ">
				area_info = #{areaInfo,jdbcType=VARCHAR},
			</if>
			<if test="address != null and address != '' ">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="zipCode != null">
				zip_code = #{zipCode,jdbcType=INTEGER},
			</if>
			<if test="telPhone != null and telPhone != '' ">
				tel_phone = #{telPhone,jdbcType=VARCHAR},
			</if>
			<if test="mobPhone != null and mobPhone != '' ">
				mob_phone = #{mobPhone,jdbcType=VARCHAR},
			</if>
			<if test="company != null and company != '' ">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="content != null and content != '' ">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="isDefault != null and isDefault != '' ">
				is_default = #{isDefault,jdbcType=VARCHAR}
			</if>
		</set>
		where 1=1
		<if test="addressId!=null">
            and address_id = #{addressId,jdbcType=INTEGER}
        </if>
        <if test="supplierId!=null">
            and supplier_id = #{supplierId,jdbcType=INTEGER}
        </if>
	</update>
	
</mapper>